*{
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    background-color: black;
}

.outer-box{
    width: 600px;
    margin: 2% auto;

}

.box{
    background: #500e50;
    color: white;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    
}

.text-end{
    text-align: end;
    margin-right: 10px;

}

h2, h4{
    margin: 0;
    padding: 10px 10px 10px 0px;

}

.text-addTodo{
    text-align: center;
    margin-top: 10px;
}

input[type=text]{
    padding: 7px;
    width: 250px;
    border-radius: 5px;
    border: 0px;
}

.btn-addTodo{
    color: white;
    background: rgb(26, 107, 189);
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin-left: 15px;
    cursor: pointer;
}

.btn-addTodo:hover {
    background-color: red;
}

button:focus{
    outline: none;
}

input[type=text]:focus{
    background-color: rgb(243, 226, 226);
    
}

.todo-list{
    max-height: 210px;
    overflow-y: auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    background: lightblue;
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 15px 15px 15px 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.icon {
    display: flex;
    justify-content: space-between;
    width: 50px;
}
.pointer {
    cursor: po;
}

.line-through {
    text-decoration: line-through;
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: yellowgreen;
}